h1 {
  font-family: Lobster;
  font-size: 45px;
}

p {
  font-size: 15px;
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 1rem 1rem;
}

body {
  padding-top: 65px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background: linear-gradient(#615dad, #ffc8da);

}

img {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 100vh;
}

.description {
  background-color: #283e50;
  text-align: center;
  color: white;
}

.buttons {
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}


.buttons_pravidla {
  color: white;
  background-color: #1fcca4;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.buttons_hrat {
  color: white;
  background-color: #0197f6;
  padding: 1rem;
}

.buttons_pravidla:hover {
  content: "";
  background-color: #1cbb96
}

.buttons_hrat:hover {
  content: "";
  background-color: #0090e9;
}
